.login-page{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-page{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hidden{
    display: none;
}

.show {
    text-align: center;
    padding: 20px 30px;
    border: solid 2px black;
    font-weight: 600;
}


.show:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}

.show p {
    margin: 0;
    padding: 0;
}

.form-container{
    border: solid 2px black;
    width: auto;
}

form input, form label {
    display: block;
    margin-bottom: 10px;
}

form{
    border: solid 2px black;
    padding: 10px 20px;
    font-family: sans-serif;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.username{
    border: solid 2px black;
}

.username:focus{
    outline: none;
}

input[type=submit]{
    background-color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    padding: 5px 10px;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid 4px black;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    
}

ion-icon {
    font-size: 24px;
    --ionicon-stroke-width: 40px;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.status {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mini-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: solid 4px black;
}

.on_hold{
    grid-column: 1/2;
}

.to_do{
    grid-column: 2/3;
}

.in_progress{
    grid-column: 3/4;
    
}

.urgent{
    grid-column: 4/5;
}

.done{
    grid-column: 5/6;
    
}


.task {
    border: 1px black solid;
    padding: 10px 20px;
    grid-row-start: auto;
}


.add-form *{
    margin-bottom: 10px;
    width: 30vw;
    font-weight: 600;
}

.add-form input, .add-form textarea, .add-form select {
    outline: none;
    border: 2px solid;
}

.add-modal {
    margin-top: 10px;
    border: solid 2px black;
}

.edit-form *{
    margin-bottom: 10px;
    width: 30vw;
    font-weight: 600;
}

.edit-form input, .edit-form textarea, .edit-form select {
    outline: none;
    border: 2px solid;
}

.edit-modal {
    margin-top: 10px;
    border: solid 2px black;
}